<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center">
  <h1>Created by:</h1> <h2 style="color:green">Omer Gamie</h2>
  <p style="color:black">Do not judge him, this is his first project</p>
  <p style="color:black">Wait for the awaken</p>
  <a href="{% url 'home' %}" class="btn btn-success">Home</a>
</div>
